/* --------------------------------------------
SASS for my PlanetColors

Author:		Camden Rudisill
License: 	MIT License (see LICENSE file)
----------------------------------------------- */
/* Colors */
$blue: #00a9e9;
$darkBlue: #1B8FCF;
html {
  background-color: #000;
}

@font-face {
    font-family: Kredit;
    src: url(../fonts/kredit/kredit.ttf);
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}
.algo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
  border: 1px solid $blue;
  border-radius: 2px;
  background-color: rgba(33, 150, 243, 0.23);
  h1 {
    margin-bottom: 0px;
    font-weight: 300;
    color: #fff;
  }
}
.error-message {
  margin-bottom: -75px;
  font-size: 22px;
  text-align: center;
}
.error-text {
  color: #FF5858;
}
.no-error-transparent {
  color: #072238
}
.no-error-show {
  color: #BDFBBD;
}
.num-text {
  color: #3FEAFF;
}

.credit-card {
  background: url("http://i2.cdn.turner.com/cnnnext/dam/assets/141217171152-generic-cnn-background---dark-full-169.jpg");
  background-size: cover;
  height: 235px;
  width: 373px;
  background-color: gray;
  margin-bottom: 50px;
  border-radius: 12px;
  h1 {
    padding: 10px 0px 0px 15px;
  }
  h2 {
    font-family: Kredit;
    color: #fff;
    font-weight: 100;
    text-align: center;
    margin-top: 90px;
  }

}
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  perspective: 1200px;
}
.form {
  display: flex;
  margin-bottom: 85px;
  height: 40px;
}
.form-group {
  border: 1px solid #B7B7B7;
  border-radius: 4px;
  height: 43px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  background-color: #fff;
  i {
    color: $darkBlue;
  }
}
.form-input {
  width: 335px;
  height: 40px;
  padding: 10px;
  font-size: 15px;
  border: none;
  &:focus {
    outline: none;
  }
}
/* For Mobile Devices */
@media only screen and (max-width : 480px) {
  .header h1 {
    font-size: 27px;
  }
  .form-container {
    margin-top: 70px;
  }
  .form {
    margin-bottom: 50px;
  }
  .form-input {
    width: 245px;
  }
}
